@import 'dashboard-blueish-theme';  //  <-- the theme file shown above

//default light palette forground/background:
$light-foreground-palette: map-get($theme, foreground);
$light-background-palette: map-get($theme, background);

//dark palette forground/background:
$dark-foreground-palette: map-get($dark-t, foreground);
$dark-background-palette: map-get($dark-t, background);

.light-colors{
    background-color : mat-color($primary, default);
    color: mat-color($light-foreground-palette, text);
}

.dark-colors{
    background-color : mat-color($dark-p, default);
    color: mat-color($dark-foreground-palette, text);
}

wrap
{
    display: -webkit-flex !important; /* Safari */
    -webkit-flex-wrap: wrap !important; /* Safari 6.1+ */
    display: flex !important;   
    flex-wrap: wrap !important;
    text-align: left !important;
}

table,
th,
tr,
td,
{
    box-shadow: 3px 1 3 $alt outset !important;
    background-color : $background !important;
    color: mat-color($dark-foreground-palette, text) !important;
}

a,
{
    color: mat-color($dark-foreground-palette, text) !important;
    text-decoration: none !important;
}

toolbar-icon,
{
    padding: 0 14px;
    background-color : $background !important;
    color: mat-color($dark-foreground-palette, text) !important;
}

.toolbar-spacer,
{
    flex: 1 1 auto;
    background-color : $background !important;
    color: mat-color($dark-foreground-palette, text) !important;
}

mat-toolbar,
.mat-toolbar,
.mat-card,
.mat-grid-list,
.mat-grid-tile 
.mat-list,
.mat-sidenav,
.mat-sidenav-container,
.mat-sidenav-content,
mat-card,
mat-grid-list,
mat-grid-tile,
mat-list,
mat-sidenav,
mat-sidenav-container,
mat-sidenav-content,
table,
th,
tr,
td,
{
  background-color : $background !important;
  color: mat-color($dark-foreground-palette, text) !important;
}

button,
.button,
mat-button 
.mat-button 
{
  box-shadow: 3px 1 3 $alt outset !important;
  padding: 1px;
  margin: 1px;
}

.mat-fab,
mat-fab,
.icon-b,
icon-b,
{
    @include mat-elevation-transition;
    @include mat-elevation(2);

    &:active {
        @include mat-elevation(8);
    }
    box-shadow: 1px 1 3 $alt outset !important;
    background-color:   $alt;
    color:              $background;
    height:       40px !important;
    width:        40px !important;
    font-size:    20px !important;
}



body,
{
    box-shadow: 1px 1 3 $alt outset !important;
    border: 2px solid $alt !important;
    margin: 2px;
    padding: 2px;
    background-color : $alt;
    color: mat-color($dark-foreground-palette, text);
}

.mat-raised-button,
mat-raised-button,
{
    box-shadow: 1px 1 3 $alt outset !important;
    border: 2px solid $alt !important;
    margin: 2px;
    padding: 2px;
    background-color : $alt;
    color: mat-color($dark-foreground-palette, text);
}

mat-toolbar,
.mat-toolbar,
.mat-drawer,
.mat-sidenav,
mat-drawer,
mat-sidenav,
{
    box-shadow: 1px 1 3 $alt outset !important;
    border: 2px solid $alt !important;
    margin: 2px;
    padding: 2px;
}

.mat-fab,
mat-fab,
fa,
.fa,
.mat-icon,
mat-icon,
mat-list-item,
{
    box-shadow: 1px 1 3 $alt outset !important;
    margin-left: -22px;
}

.mat-card-body{
    float: bottom -2px;
}

.mat-card {
    box-shadow: 2px 1 3 $alt outset !important;
    border: 2px solid $alt !important;
}

mat-sidenav.mat-drawer.mat-sidenav {
    box-shadow: 1px 1 3 $alt outset !important;
    border: 2px solid $alt !important;
    margin: 2px;
    padding: 2px;
}

td,
.raised-row,
{
    box-shadow: 1px 1 3 $alt outset !important;
    margin: 2px !important;
    padding: 2px !important;
    color: $foreground !important;
}

.circle,
.round {
  border-radius: 75%;
  /* border-radius: 10px; */

  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box; 
  -moz-background-clip:    padding; 
  background-clip:         padding-box;
  min-width:  35px;
  min-height: 35px;
  margin-bottom: 2px;
}

.rounded {
  border-radius: 10px;

  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box; 
  -moz-background-clip:    padding; 
  background-clip:         padding-box;
  min-width:  35px;
  min-height: 35px;
  margin-bottom: 2px;
}
